@model Ginecologia_Ingequimed.Models.Pareja

@{
    ViewData["Title"] = "Edit";
}

    <center><h1 style="color:#8A0829"><font size="6">Editar Datos</font></h1></center>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enfermedades" /> @Html.DisplayNameFor(model => model.Enfermedades)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Anticonceptivo" /> @Html.DisplayNameFor(model => model.Anticonceptivo)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Impotencia" /> @Html.DisplayNameFor(model => model.Impotencia)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ets" /> @Html.DisplayNameFor(model => model.Ets)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HIV" /> @Html.DisplayNameFor(model => model.HIV)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Hvp" /> @Html.DisplayNameFor(model => model.Hvp)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Gonorrea" /> @Html.DisplayNameFor(model => model.Gonorrea)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Otros" /> @Html.DisplayNameFor(model => model.Otros)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NombreEnfermedades" class="control-label"></label>
                <input asp-for="NombreEnfermedades" class="form-control" />
                <span asp-validation-for="NombreEnfermedades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreAnticonceptivo" class="control-label"></label>
                <input asp-for="NombreAnticonceptivo" class="form-control" />
                <span asp-validation-for="NombreAnticonceptivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="background-color:#F5CBA7" type="submit" value="Save" class="btn btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"><font style="color:#424949">Regresar</font></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
