@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div id="contenedor">
    <div id="menu">
        
        <div class="my-custom-scrollbar">
            <img src="~/img/image-01.jpg" height="580" width="530">
           
        </div>

    </div>
    <!-- 1st section -->
    <div id="login">
        <section>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <br><br><br>
                                <center><h3 style="color:#61051c">Iniciar Sesión</h3></center>
                                <br>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control " />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <center>
                                    <div class="form-group">
                                        <button style="background-color:#c7abb4" type="submit" class="btn btn">Iniciar Sesión</button>
                                    </div>
                                </center>
                                <div class="form-group">
                                    <p>
                                        <a style="color:gray" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a style="color:gray" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                <div>
                    <p>
                        @*There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.*@
                    </p>
                </div> }
                            else
                            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
            <button type="submit" class="btn btn-danger" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>}
                        </p>
                    </div>
                </form> } }
        </section>
    </div>



</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
