@model IEnumerable<Ginecologia_Ingequimed.Models.Paterno>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h1 style="color:#43180E"><font size="6">Ingresar aquí la Información de tus Familiares</font></h1>

    <p>
        <a asp-action="Create"><font style="color:#43180E">Agregar</font></a>
    </p>
</center>
<table class="table">
    <thead style="background-color:#cab4b4">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Pariente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parentesco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermedad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Pariente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parentesco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enfermedad)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><font style="color:#424949">Editar</font></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><font style="color:#424949">Detalles</font></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><font style="color:#424949">Eliminar</font></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<center><a style="background-color:#cab4b4" type="button" href="https://localhost:44361/DatoFamiliares" class="btn btn">Regresar</a></center>
