@model Ginecologia_Ingequimed.Models.DatoPersonal

@{
    ViewData["Title"] = "Create";
}

<center><h1 style="color:#43180E"><font size="6">Ingresa tus datos aquí</font></h1></center>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Habitos" /> @Html.DisplayNameFor(model => model.Habitos)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Patalogías" /> @Html.DisplayNameFor(model => model.Patalogías)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Alergias" /> @Html.DisplayNameFor(model => model.Alergias)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Embarazos" /> @Html.DisplayNameFor(model => model.Embarazos)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cesárea" /> @Html.DisplayNameFor(model => model.Cesárea)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Cirugías" /> @Html.DisplayNameFor(model => model.Cirugías)
                </label>
            </div>
            <br>
            <div class="form-group">
                <input style="background-color:#cab4b4" type="submit" value="Create" class="btn btn" />
            </div>
        </form>
    </div>
</div>
<br><br>
<center><a style="background-color:#cab4b4" type="button" href="https://localhost:44361/DatoPersonales" class="btn btn">Siguiente</a></center>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
