@model Ginecologia_Ingequimed.Models.DatoPersonal

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:#43180E"><font size="6">Detalles Personales</font></h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Habitos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Habitos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patalogías)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patalogías)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alergias)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Embarazos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Embarazos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cesárea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cesárea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cirugías)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cirugías)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><font style="color:#424949">Editar</font></a> |
    <a asp-action="Index"><font style="color:#424949">Regresar</font></a>
</div>
