@model Ginecologia_Ingequimed.Models.Materno

@{
    ViewData["Title"] = "Details";
}

<h1 style="color:#43180E"><font size="6">Detalles Familiares</font></h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Pariente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Pariente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Parentesco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enfermedad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enfermedad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><font style="color:#424949">Edita</font>r</a> |
    <a asp-action="Index"><font style="color:#424949">Regresar</font></a>
</div>
